<h2>Case Studies</h2>
{{documents}}

<!-- <ul class="media-list">
   <li class="mediaX" ng-repeat="document in documents">
      <a class="pull-left" ng-href="{{document.title_t}}">
      <img class="media-object" ng-src="document.image" alt="{{document.title_t}}">
      </a>
      <div class="media-body">
         <h4 class="media-heading">{{document.title_t}}</h4>
         <p>{{document.description}}</p>
      </div>
      <div class="pull-right read-more"><a ng-href="{{document.url_ss}}">more >></a></div>
   </li>            
</ul> -->
<!-- <div class="pagination-centered">
   <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
   </ul>
</div> -->