
<div class="row" ng-controller="FindController">
   <div class="map-container" id="view-container">
      <div id="map-canvas2" class="collapse in"></div>
      <!-- <ul><li ng-repeat="document in documents">{{document.title}}</li></ul> -->
      <div cs-map="{{documents}}"></div>

      <div class="col-lg-3 filters-container filters">
         <div class="panel-group">
            <div class="toggle-map">
               <div class="btn-group btn-group justified " data-toggle="buttons">
                  <label id="map-view" class="btn btn-default active" data-toggle="collapse" data-target=".nav-collapse">
                  <input type="radio" name="options" id="option1"> Map View
                  </label>
                  <label id="list-view" class="btn btn-default">
                  <input type="radio" name="options" id="option2" > List View
                  </label>
               </div>
               <div class="input-group input-group map-search">
                  <!-- <input type="text" class="form-control input" placeholder="Search"> -->
                  <input type="text" ng-model="keyword" placeholder=" Keyword " class="form-control keyword" style="">
               </div>
            </div>
           <!--  <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">Filter by Continent</h4>
               </div>
               <div class="panel-body">
                  <div class="checkbox">
                     <label><input type="checkbox"> Africa</label>
                  </div>
                  <div class="checkbox">
                     <label><input type="checkbox"> Europe</label>
                  </div>
                  <div class="checkbox">
                     <label><input type="checkbox"> Asia</label>
                  </div>
                  <div class="checkbox">
                     <label><input type="checkbox"> North America</label>
                  </div>
                  <div class="checkbox">
                     <label><input type="checkbox"> Latin America</label>
                  </div>
               </div>
            </div> -->
         </div>
         <!-- <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Filter by Topic</h4>
            </div>
            <div class="panel-body mdg-img">
               <div class="checkbox">
                  <label>
                  <input type="checkbox"> Languages, linguistic diversity
                  </label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox"> Material culture</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox"> Social relations</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox"> Models of subsistence</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox"> Belief relations</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox"> Knowledge, technology</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox"> Economic relations</label>
               </div>
            </div>
         </div> -->
      </div>



   <div id="list-view-container" class="container collapse">
      <div class="list col-lg-8">
         <!-- document start -->
        <ul class="pagination pull-right">
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="actionSetPage(currentPage-1)">« Prev</a>
            </li>
            <li ng-repeat="n in range(pageCount)" ng-class="{active: n == currentPage}" ng-click="actionSetPage(n)">
                <a href>{{n+1}}</a>
            </li>
            <li ng-class="{disabled: currentPage >= pageCount - 1}">
                <a href ng-click="actionSetPage(currentPage+1)">Next »</a>
            </li>
        </ul>
        <div class="clearfix"></div>
          <div ng-repeat="document in documents">

                    <!-- {{document}} -->

                        <div ng-switch on="document.schema">

                            <div ng-switch-default style="border-top:1px #ccc solid; 
                               border-bottom:1px  #ccc solid;border-right:1px solid #ccc;"><!-- Example National Record  -->   
                              <table style="width:100%;padding:0px;margin:0;background-color:#F4F8FA;">
                                <tr>
                                  <td rowspan="4" style="width:3px;background-color:#428bca;"></td>
                                  <td colspan="2" style="padding:0 0 0 20px;margin:0;">
                                    <span style="display:inline;line-height:10px;color:#333;font-weight:bold;text-transform:uppercase;padding:0;margin:0;">{{document.schema}} | 
                                    <span style="color:#666;font-size:12px;font-weight:bold;" > {{document.source}} </span> 
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                  <td style="margin:0;padding:0 0 0 20px;">
                                    <i ng-class="{'glyphicon glyphicon-minus-sign':displayDetails, 'glyphicon glyphicon-plus-sign':!displayDetails}" style="font-size:11px;position:relative;top:-1px;"></i>
                                     <a ng-click="load(document); displayDetails = !displayDetails" class="title">{{document.title}}</a> 
                                  </td>
                                 <!--  <td rowspan="4" style="width:5px;background-color:#999;padding:5px;margin:0;">V</td> -->
                                </tr>
                                <tr>
                                  <td style="padding:20px; color:#999;">
                                   {{document.description}}
                                  <div ng-show="displayDetails" record-loader document="document.data"  ></div>
                                  </td>

                                </tr>
                              </table>
                            </div> <!-- end national record -->
                          <br>
                        </div> <!-- end switch -->


                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="pagination pull-right">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="actionSetPage(currentPage-1)">« Prev</a>
                        </li>
                        <li ng-repeat="n in range(pageCount)" ng-class="{active: n == currentPage}" ng-click="actionSetPage(n)">
                            <a href>{{n+1}}</a>
                        </li>
                        <li ng-class="{disabled: currentPage >= pageCount - 1}">
                            <a href ng-click="actionSetPage(currentPage+1)">Next »</a>
                        </li>
                    </ul>
                </div>
         <!-- document end -->
      </div>
  </div>
   </div>
</div>

  
<script type="text/javascript">
      function initialize() {
        var myLatlng = new google.maps.LatLng(5.3609557,-75.2921219);
        var mapOptions = {
          center: myLatlng,
          zoom: 2,
          minZoom:2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas2"),
            mapOptions);
            
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div id="bodyContent">'+
            '<h3 id="firstHeading" class="firstHeading"><a href="http://dev.glebemedia.ca/cbd/cultural/cs-detail.php">Zapara People</a></h3>'+
            '<p>Oral heritage and cultural manifestations of the Zápara people. The Zápara people of the Amazon rainforest are inhabitants of one of the most bio-diverse areas of the world. They have elaborated an oral culture that is particularly rich as regards their understanding of the natural environment. </p>'+
            '<p><a href="http://dev.glebemedia.ca/cbd/cultural/cs-detail.php">Learn More</a></p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 400
        });   
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'ASPROINCA Project',
            show: true
        });
        //google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        //});
      }

  $("#list-view").on("click", function() {
    $("#map-canvas").removeClass('in');
    $("#list-view-container").addClass('in');
  });
  $("#map-view").on("click", function() {
    $("#map-canvas").addClass('in');
    $("#list-view-container").removeClass('in');
  });
  $('.img-rounded').tooltip();
  $("body").tooltip({
    selector: "a[rel=tooltip]"
  }); 

</script>


