<div class="row" ng-controller="InnerPageController">
    <div class="col-lg-3 sidebar">
        <ul class="nav nav-stacked">
            <li class="active"><a href="/lbcd/news">News</a></li>
            <li><a href="/lbcd/events">Events</a></li>
        </ul>
    </div>
    <div class="col-lg-9">
    <h1>News</h1>
    <table class="dgGrid" cellspacing="0" cellpadding="0" id="ctl06_W3345_dg" style="border-collapse:collapse;">
        <tbody>
            <tr class="dgMainGroup">
                <td colspan="2"><h2>Latest News<h2></td>
            </tr>
            <tr class="dgHeader">
                <td class="EventTypeOther">Date</td><td class="EventTypeOther"></td>
            </tr>
            <tr class="dgItem">
                <td valign="top" class="EventTypeOther" style="width:200px;">
                    <div id="ctl06_W3345_dg_spanDates_0" style="margin:2 2 2 2">14 October 2014<br></div>
                </td>
                <td valign="top" class="EventTypeOther">
                    <div id="ctl06_W3345_dg_spanMeeting_0" style="margin:2 2 2 2">
                    <b>2014 Pyeongchang Buddhist Declaration for Life-Peace</b><br><i>All Beings are Buddha in Their True Nature</i><br>By viewing nature as a resource to be controlled and exploited, humans have largely destroyed the habitats of animals and plants, thereby driving them to the brink of extinction. <br><a href="http://www.cbd.int/portals/culturaldiversity/docs/2014-Pyeongchang-Buddhist-Declaration-en.pdf">»&nbsp;Read more</a>
                    </div>
                </td>
            </tr>
            <tr class="dgItem">
                <td valign="top" class="EventTypeOther" style="width:200px;">
                    <div id="ctl06_W3345_dg_spanDates_0" style="margin:2 2 2 2">14 August 2014<br></div>
                </td>
                <td valign="top" class="EventTypeOther">
                    <div id="ctl06_W3345_dg_spanMeeting_0" style="margin:2 2 2 2">
                    <b>Preserving Biocultural Diversity</b><br>In a small classroom in the foothills of the Rocky Mountains, a little girl sits, her face knitted in concentration. “Nitóxka, nátoka, niuóxka” — one, two, three — she slowly counts out, just as generations of other Piegan children have before her. <br><a href="http://www.nytimes.com/2014/08/13/opinion/preserving-biocultural-diversity.html?emc=edit_ty_20140812&nl=opinion&nlid=69376743&_r=1">»&nbsp;Read more</a>
                    </div>
                </td>
            </tr>
            <tr class="dgItem">
                <td valign="top" class="EventTypeOther" style="width:200px;">
                    <div id="ctl06_W3345_dg_spanDates_0" style="margin:2 2 2 2">1 August 2014<br></div>
                </td>
                <td valign="top" class="EventTypeOther">
                    <div id="ctl06_W3345_dg_spanMeeting_0" style="margin:2 2 2 2">
                    Forum Origin, Diversity and Territories 2014 will take place in Turin, Italy, from 21-23 October 2014. This year, the forum will highlight the role of family farming in the bio-cultural diversities conservation as well in the interactions within origin's promotion. The Forum is organized by Diversity & Development (international association based in Montpellier, France),  FiBl (Research Institute of Organic Agriculture in Swiss) and their partners FAO, ONUDI, Slow Food International, CIRAD, RIMISP DTR-IC Program, the Platform Diversity Biocultural & Territories and REDD, All information available on the web site: <a href="http://origin-for-sustainability.org/en/">http://origin-for-sustainability.org/en/</a> <br /> For more information: <a href="mailto:info@origin-for-sustainability.org">info@origin-for-sustainability.org</a>
                    </div>
                </td>
            </tr>
            <tr class="dgItem">
                <td valign="top" class="EventTypeOther" style="width:200px;">
                    <div id="ctl06_W3345_dg_spanDates_0" style="margin:2 2 2 2">26 June 2014<br></div>
                </td>
                <td valign="top" class="EventTypeOther">
                    <div id="ctl06_W3345_dg_spanMeeting_0" style="margin:2 2 2 2">Culture and Environment Seminar to be held in Rome, on 11 July 2014, from 14.00 to 19.00 hours at Sapienza University of Rome –Faculty of Law - Sala delle Lauree<br><a href="http://www.cbd.int/portals/culturaldiversity/docs/programma-biocultural-en.pdf">English</a>&nbsp;|&nbsp;<a href="http://www.cbd.int/portals/culturaldiversity/docs/programma-biocultural-es.pdf">Italian</a></div>
                </td>
            </tr>
            <tr class="dgItem">
                <td valign="top" class="EventTypeOther" style="width:200px;">
                    <div id="ctl06_W3345_dg_spanDates_0" style="margin:2 2 2 2">22 May 2014<br></div>
                </td>
                <td valign="top" class="EventTypeOther">
                    <div id="ctl06_W3345_dg_spanMeeting_0" style="margin:2 2 2 2">Report on the First European Conference for the Implementation of the UNESCO-SCBD Joint Program on the linkages between cultural and biological diversity<br><a href="http://www.cbd.int/portals/culturaldiversity/docs/florence-report-2014-en.pdf">»&nbsp;Read more</a></div>
                </td>
            </tr>
            <tr class="dgItem">
                <td valign="top" class="EventTypeOther" style="width:200px;">
                    <div id="ctl06_W3345_dg_spanDates_0" style="margin:2 2 2 2">8 April 2014<br></div>
                </td>
                <td valign="top" class="EventTypeOther">
                    <div id="ctl06_W3345_dg_spanMeeting_0" style="margin:2 2 2 2">Linking Biological and Cultural Diversity in Europe - The 1st European Conference for the Implementation of the UNESCO-SCBD Joint Programme on Biological and Cultural Diversity<br><a href="http://landscapeunifi.it/en/call">»&nbsp;Read more</a></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>