<div class="row" ng-controller="InnerPageController">

	<div class="col-lg-9">
		<h1>Resources</h1>
		<h2>Declarations</h2>
		<ul>
			<li><b>Europe:</b> <a href="http://www.cbd.int/portals/culturaldiversity/docs/21040410-declaration-florence-en.pdf">Florence Declaration on the Links Between Biological and Cultural Diversity (11 April 2014)</a></li>
			<li><b>Asia: </b> <a href="http://www.cbd.int/portals/culturaldiversity/docs/20161028-declaration-ishikawa-en.pdf">Ishikawa Declaration on Biocultural Diversity (29 October 2016)</a></li>
			<li><b>International:</b> Múuch'tambal Summit on Indigenous Experiences: Traditional Knolwedge and Biological and Cultural Diversity (11 December 2016) (<a href="http://www.cbd.int/portals/culturaldiversity/docs/20161211-declaration-international-summit-en.pdf">English</a> | <a href="http://www.cbd.int/portals/culturaldiversity/docs/20161211-declaration-international-summit-es.pdf">Español</a>)</li>
			<li><b>International:</b> The Sharm El-Sheikh Declaration on Nature and Culture (22-24 November 2018)  (<a href="http://www.cbd.int/doc/c/8b76/d85e/c62f920c5fd8c4743e5193e1/cop-14-inf-46-en.pdf">English</a> | <a href="http://www.cbd.int/traditional/nature-culture/Declaration-de-Charm-el-Cheikh-sur-la-nature-et-la-culture.pdf">Français</a> | <a href="http://www.cbd.int/traditional/nature-culture/The-Sharm-el-Sheikh-Declaration-on-Nature-and-Culture-es.pdf">Español</a>)</li>
		</ul>
		<h2>Publications</h2>
		<ul>
			<li>UNEP, Cultural and Spiritual Values of Biodiversity (1999) Intermediate Technology Publications<br/><a href="http://wedocs.unep.org/bitstream/handle/20.500.11822/9190/Cultural_Spiritual_thebible.pdf?isAllowed=y&sequence=1" alt="">http://wedocs.unep.org/bitstream/handle/20.500.11822/9190/Cultural_Spiritual_thebible.pdf?isAllowed=y&sequence=1</a></li>
			<li>Wild, R. and McLeod, C (eds.) International Union for Conservation of Nature, Sacred Natural Sites: Guidelines for Protected Area Managers (2008)<br/><a href="http://data.iucn.org/dbtw-wpd/edocs/PAG-016.pdf" alt="">http://data.iucn.org/dbtw-wpd/edocs/PAG-016.pdf</a></li>
			<li>World Heritage and Ramsar Conventions: Converging Towards Success<br/><a href="http://www.ramsar.org/news/new-report-world-heritage-and-ramsar-conventions-converging-towards-success" alt="">English</a> | <a href="http://www.ramsar.org/fr/news/nouveau-rapport-ramsar-et-la-convention-du-patrimoine-mondial-au-confluent-du-succes" alt="">Français</a> | <a href="http://www.ramsar.org/es/nuevas/nuevo-informe-las-convenciones-de-ramsar-y-del-patrimonio-mundial-convergiendo-hacia-el-exito" alt="">Español</a></li>
			<li>Biocultural Approaches: Opportunities for Building More Inclusive Environmental Governance<br/><a href="http://www.ids.ac.uk/publication/biocultural-approaches-opportunities-for-building-more-inclusive-environmental-governance" alt="">http://www.ids.ac.uk/publication/biocultural-approaches-opportunities-for-building-more-inclusive-environmental-governance</a></li>
		</ul>
		<h2>Reports</h2>
		<ul>
			<li>Report on the First European Conference for the Implementation of the UNESCO-SCBD Joint Program on the linkages between cultural and biological diversity, 8-11 April 2014, Florence, Italy<br/><a href="http://www.cbd.int/portals/culturaldiversity/docs/florence-report-2014-en.pdf" alt="">http://www.cbd.int/portals/culturaldiversity/docs/florence-report-2014-en.pdf</a>
			</li>
			<li>Informal Liaison Group on Biological and Cultural Diversity for the joint programme of work on biological and cultural diversity of the CBD and UNESCO, Report of the First meeting of the informal liaison group on biological and cultural diversity for the joint programme of work on biological and cultural diversity of the convention on biological diversity and UNESCO (28 and 29 April 2012)<br/><a href="http://www.cbd.int/doc/meetings/cop/cop-11/information/cop-11-inf-11-en.pdf" alt="">http://www.cbd.int/doc/meetings/cop/cop-11/information/cop-11-inf-11-en.pdf</a></li>
			<li>The Convention on Biological Diversity, Report of the International Conference on Biological and Cultural Diversity for Development (Advanced Unedited Version) (20 June 2010)<br/><a href="http://www.cbd.int/doc/?meeting=ICBCD" alt="">http://www.cbd.int/doc/?meeting=ICBCD</a></li>
			<li>The Convention on Biological Diversity, Global Biodiversity Outlook 3 (2010)<br/><a href="http://www.cbd.int/gbo3/?pub=6667&section=6711" alt="">http://www.cbd.int/gbo3/?pub=6667&section=6711</a></li>
			<li>United Nations Economic and Social Council, Indigenous peoples: development with culture and identity: Articles 3 and 32 of the United Nations Declaration on the Rights of Indigenous Peoples (5 February 2010)<br/><a href="http://www.cbd.int/doc/meetings/development/icbcd/information/icbcd-ec19201014-en.pdf" alt="">http://www.cbd.int/doc/meetings/development/icbcd/information/icbcd-ec19201014-en.pdf</a></li>
			<li>UNESCO with support from the Christensen Fund, Links between biological and cultural diversity (26-28 September 2007)<br/><a href="http://unesdoc.unesco.org/images/0015/001592/159255E.pdf" alt="">http://unesdoc.unesco.org/images/0015/001592/159255E.pdf</a></li>
		</ul>
		<h2>Documents</h2>
		<ul>
			<li>Brochure: <a href="http://www.cbd.int/portals/culturaldiversity/docs/Flyer-CulturalDiversity.pdf">Linking Biological and Cultural Diversity - UNSECO-SCBD Programme</a></li>
			<li>The Convention on Biological Diversity, COP Decision X/42 – The Tkarihwaié:ri Code of Ethical Conduct to Ensure Respect for the Cultural and Intellectual Heritage of Indigenous and Local Communities (18-29 October 2010)<br/><a href="https://www.cbd.int/decision/cop/default.shtml?id=12308" alt="">https://www.cbd.int/decision/cop/default.shtml?id=12308</a></li>
			<li>The Convention on Biological Diversity, A Proposed Joint Programme of Work on Biological and Cultural Diversity Lead by the Secretariat of the CBD and UNESCO (8-10 June 2010)<br/><a href="http://www.cbd.int/doc/?meeting=ICBCD" alt="">http://www.cbd.int/doc/?meeting=ICBCD</a></li>
			<li>Pierre Lasserre, consultant to the CBD, Study of the nexus between biological and cultural diversity (8-10 June 2010)<br/><a href="http://www.cbd.int/doc/?meeting=ICBCD" alt="">http://www.cbd.int/doc/?meeting=ICBCD </a></li>
			<li>UNESCO, Jakarta, Cultural diversity: a foundation for biodiversity conservation and sustainable development, Proceedings of the Joint Regional Seminar of the Ecotone – SeaBRnet and the 9th Conference of the China Biosphere Reserves Network (2008)<br/><a href="http://unesdoc.unesco.org/images/0018/001829/182996e.pdf" alt="">http://unesdoc.unesco.org/images/0018/001829/182996e.pdf</a></li>
			<li>The Convention on Biological Diversity, COP 7 Decision VII/11 – the Ecosystem Approach (9-20 February 2004)<br/><a href="http://www.cbd.int/decisions/cop/?m=cop-07" alt="">http://www.cbd.int/decisions/cop/?m=cop-07</a></li>
		</ul>
		<h2>Publications</h2>
		<ul>
			<li>Mulongoy, K.J. and S.B. Gidda, The Convention on Biological Diversity, The Value of Nature: Ecological, Economic, Cultural and Social Benefits of Protected Areas (2008)<br/><a href="http://www.cbd.int/doc/publications/cbd-value-nature-en.pdf" alt="">http://www.cbd.int/doc/publications/cbd-value-nature-en.pdf</a></li>
		</ul>
		<h2>Statements</h2>
		<ul>
			<li>Ahmed Djoghlaf, Executive Secretary of the CBD, Statement on the World Day for cultural diversity for dialogue and development talking about the linkages between biological and cultural diversity (21 May 2011)<br/><a href="http://www.cbd.int/doc/speech/2011/sp-2011-05-21-cdd-en.pdf" alt="">http://www.cbd.int/doc/speech/2011/sp-2011-05-21-cdd-en.pdf</a></li>
		</ul>
		<h2>Press Releases</h2>
		<ul>
			<li>UNESCO and CBD, UNESCO launch of the United Nations Decade on Biodiversity takes place in Paris (14 November 2011)<br/><a href="" alt="">http://www.cbd.int/kb/record/pressRelease/83683?FreeText=biological%20and%20cultural%20diversity</a></li>
			<li>CBC News, Arctic research station design incorporates Inuit knowledge (17 June 2013)<br/><a href="http://www.cbc.ca/news/canada/north/arctic-research-station-design-incorporates-inuit-knowledge-1.1332067" alt="">http://www.cbc.ca/news/canada/north/arctic-research-station-design-incorporates-inuit-knowledge-1.1332067</a></li>
		</ul>
<!-- 		<h2>Photographs and film</h2>

		<h2>Others</h2> -->
		<h2>Related links</h2>
		<ul>
			<li><a href="http://swed.bio/">SwedBio</a> is a knowledge interface at Stockholm Resilience Centre contributing to poverty alleviation, equity, sustainable livelihoods and social-ecological systems rich in biodiversity that persist, adapt and transform under global change such as climate change. SwedBio enables knowledge generation, dialogue and exchange between practitioners, policy makers and scientists for development and implementation of policies and methods at multiple scales.</li>
		</ul>
	</div>
</div>
